body {
  font-family: Arial, Helvetica, sans-serif;
  color: #010645;
}

h2 {
  display: inline;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 10px auto 0;
}

.weather-app {
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  width: 800px;
}

.card-default-cities {
  text-align: center;
  background: #7da1fa;
  border-radius: 20px;
  border: none;
  width: 700px;
  padding: 10px;
  display: block;
  margin: 5px auto 15px;
}

.default-cities {
  text-align: center;
  font-size: small;
}

.search-form {
  padding-left: 40px;
}

.date-time {
  text-align: center;
  font-size: large;
  font-weight: 400;
}

.current-weather {
  background: rgb(165, 189, 251);
  border-radius: 30px 30px 0 0;
  border: none;
  width: 700px;
  padding: 15px;
  display: block;
  margin: 10px auto 5px;
  text-align: center;
  margin: 10px auto 0;
}

.location {
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 15px;
}

.current-weather img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.current-weather .temperature {
  color: #010645;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}

.current-weather .units {
  position: relative;
  font-size: 16px;
  top: -24px;
}

.current-weather .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.current-weather .active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #010645;
}

.weather-details-1,
.weather-details-2 {
  justify-content: center;
  column-gap: 20px;
  row-gap: 0;
  padding: 2px;
  font-size: 16px;
  color: #010645;
  font-family: monospace;
}

.row1-col1,
.row1-col2,
.row2-col1,
.row2-col2 {
  background: rgb(122, 155, 240);
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  display: block;
  margin-bottom: 10px;
}

.fa-temperature-arrow-down {
  vertical-align: middle;
  margin-left: 0px;
}

.fa-temperature-arrow-up {
  vertical-align: middle;
  margin-left: 10px;
}

.fa-droplet {
  vertical-align: middle;
}

.row1-col2-description {
  vertical-align: middle;
  margin-left: 5px;
}

.row1-col2-info {
  padding-left: 10px;
}

.fa-wind {
  vertical-align: middle;
}

.row2-col1-description {
  margin-left: 5px;
}

.row2-col1-info {
  padding-left: 10px;
}

.fa-gauge-simple {
  vertical-align: middle;
}

.row2-col2-description {
  vertical-align: middle;
}

.row2-col2-info {
  margin-left: 1px;
}

.card-forecast {
  background: rgb(122, 155, 240);
  border-radius: 0 0 30px 30px;
  border: none;
  width: 700px;
  padding: 15px;
  display: block;
  margin: 10px auto 5px;
  text-align: center;
  margin: 0 auto;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-temperature-max {
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 5px;
  color: #010645;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

footer a {
  color: rgba(1, 6, 69, 70%);
  text-decoration: none;
}
